@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//font-family: "Roboto", sans-serif;
// font-family: "Playfair Display", serif;

//variables
$colorfondo: rgb(224, 210, 210);
$centrado: center;
$blanco: #fff;
$color1: #03a2fd;
$font: 10px;
$myfont: verdana;
$myfont1: "times new roman";
$myfont2: "roboto";
$myfont3: "playfair display";
$var1: 100%;
$var2: 50%;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $colorfondo;
}
.marca {
  margin: auto;
  width: 640px;
  padding: 50px;
}
.nav-item {
  font-size: $font * 3;
}
.navbar-brand {
  padding: 10;
  font-size: 20px;
  font-family: $myfont;
}
.navbar-brand img {
  border-radius: 50%;
}
@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}
.marca {
  @include sizes(1200px, 500px);
  margin-top: 20px;
  float: none;
}
.titulo {
  background-color: #111;
  width: $var1;
  display: grid;
  place-items: center;
  color: $color1;
  margin-bottom: 20px;
  font-size: $font * 4;
  font-family: $myfont3;
  font-weight: bold;
  text-shadow: 5px 5px 10px #333;
}
.card-img-overlay h4 {
  text-align: $centrado;
  font-size: large;
}
.card-img-overlay {
  text-align: center;
  font-size: large;
  color: #637fb4;
  font-weight: bold;
}

.call {
  color: $blanco;
  width: $var1 - 40;
  border: none;
  float: right;
  margin: 30px;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  p {
    margin-bottom: 20px;
  }
}
h1 {
  color: blue;
  margin-bottom: 20px;
}

.call a {
  color: $blanco;
  background-color: lightskyblue;
  text-decoration: none;
  padding: 10px 30px;
}
.call a:hover {
  background-color: #333;
}
iframe {
  border-radius: 5%;
}
.container {
  display: grid;
}
.direccion1 {
  padding: 10px;
  display: grid;
  place-items: center;
}
.direccion2 {
  padding: 10px;
  display: grid;
  place-items: center;
}

.queHacemos {
  font-size: $font * 5;
  padding: 20px;
}

.contacto {
  font-size: $font * 2;
  display: grid;
  place-items: center;
  img {
    width: 25%;
    padding: 20px;
    border-radius: 5%;
  }
}
.carousel slide {
  width: 100%;
  height: 30%;
}
.carousel-indicators button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid green;
}

h3 {
  color: #548174;
  border-color: #111;
  text-decoration: solid;
  background-color: #111;
  border-radius: 80%;
}
@import "_sider.scss";
@import "_footer.scss";
